*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  color: #000000;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  margin: 0;
  padding: 0;
  background-color: #48c6ef;
}

a {
  text-decoration: none;
}

.app {
  padding: 0 15px;
  height: 100vh;
  background-image: linear-gradient(to top, #48c6ef 0%, #6f86d6 100%);
}

.title {
  text-align: center;
  padding: 20px 0 30px 0;
  margin: 0;
}
.main {
  align-items: flex-start;
  display: flex;
}

.search-line {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
  max-width: 500px;
}
.counter {
  font-size: 18px;
  margin-bottom: 20px;
}

.search-input {
  border: none;
  background-color: rgba(255, 255, 255, 0.582);
  border-radius: 5px;
  box-shadow: 0 2px 0 #bfbebf44;
  flex: 1;
  margin-bottom: 10px;
  height: 40px;
  line-height: 20px;
  padding: 8px 15px;
  width: 100%;
}

.users-wrapper {
  padding: 0;
  margin: 0 auto;
}

.users {
  align-items: flex-start;
  cursor: pointer;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.user-prev {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  list-style: none;
  padding: 15px;
  text-align: center;
}

.user-prev img {
  width: 250px;
}

.user-info {
  background-image: radial-gradient(73% 147%, #eadfdf 59%, #ece2df 100%),
    radial-gradient(
      91% 146%,
      rgba(255, 255, 255, 0.5) 47%,
      rgba(0, 0, 0, 0.5) 100%
    );
  background-blend-mode: screen;
  display: none;
  transition: all 0.5s;
  padding-top: 50px;
  min-width: 320px;
}

.user-info .user-prev {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.user-info .user-prev a {
  color: #4e4376;
}

.user-info .user-prev a:hover {
  background-color: rgb(253, 253, 0);
  transition: all 0.4s;
}

.user-prev-photo {
  max-width: 100%;
  margin-bottom: 10px;
  transition: all 0.3s;
}

.user-prev-photo:hover {
  box-shadow: 0px 0px 20px 6px rgb(198, 201, 4);
}

.user-prev-name {
  font-weight: 600;
}

.user-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.user-list-item {
  margin: 5px;
  list-style-type: none;
  padding: 0;
}

.btn {
  padding: 15px 25px 15px 25px;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  border: none;
  background-size: 300% 100%;
  display: block;
  border-radius: 5px;
  margin: 20px auto;
  width: 160px;

  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;

  background-image: linear-gradient(
    to right,
    #29323c,
    #485563,
    #2b5876,
    #4e4376
  );
  box-shadow: 0 4px 15px 0 rgba(45, 54, 65, 0.75);
}

.btn:hover {
  background-position: 100% 0;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.btn:focus {
  outline: none;
}

h2 {
  text-transform: uppercase;
  text-shadow: -9px -9px 2px rgb(211, 212, 194);
  font-weight: 700;
}

/* --- media --- */

@media only screen and (max-width: 1000px) {
  .user-prev img {
    width: 150px;
  }

  .user-block-title {
    border-top: 2px solid #3750db;
  }
}
